/* Created By Chandru */
.top-header-agile {
    margin: 0px;
    position: sticky;
    top: 0;
    background: linear-gradient(154.7deg, #01131D 0%, #04202C 100%);
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.navbar-brand {
    height: 100%;
}

.navbar-brand a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-brand span {
    font-family: 'Poppins', sans-serif !important;
}

.navbar-brand a img {
    width: 80px;
    height: 80px;
}

.header-tag-info {
    margin-left: 10px;
}

.header-tag-info h1 {
    font-size: 30px;
}

.header-tag-info h1 span.title {
    font-size: 0.5em;
    color: #fff;
}

.header-tag-info h1 span {
    line-height: 1.6;
}

.header-tag-info h1 span:nth-child(3) {
    font-size: .4em;
    color: #fff;
}

.header-contact-section {
    text-align: right;
}

.header-contact-section ul li {
    text-align: center;
}

.phone-section li {
    display: block;
}

.mail_grid1_left1 {
    height: 300px;
}

.courses-offered h5.title {
    color: #ff5cb6;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 30px;
}

.courses-offered .w3_about_grid_left {
    padding: 0px;
}

.courses-offered .w3_about_grid_left h5 {
    color: #212121;
    font-size: 1.3em;
    text-transform: capitalize;
    line-height: 1.5em;
}

.w3_about_grid_left p {
    color: #999;
    line-height: 2em;
    /* font-style: italic; */
    margin: 1em 0;
}

.pa_italic i {
    left: -1em;
    font-size: 11px;
}

.pa_italic span {
    display: none;
}

.collapsed span {
    display: inline-block;
    left: -1em;
    font-size: 11px;
}

.collapsed i {
    display: none;
}

.panel-heading {
    padding: 10px 35px;
}

.panel-heading h4 {
    margin: 0px;
}

.panel-title {
    font-size: 1em !important;
    color: #212121;
    text-transform: capitalize;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

.panel-default {
    border-color: #FFF;
    background: #f5f5f5;
}

.panel-default>.panel-heading {
    border-color: #FFF;
    color: #212121;
    background-color: #f5b120;
}

.panel-body {
    padding: 1.5em;
    font-size: 14px;
    line-height: 2em;
    color: #999;
}

a.pa_italic label {
    cursor: pointer;
    font-weight: 500;
}

a.pa_italic:focus {
    outline: none;
    text-decoration: none;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: transparent;
}

.test p,
.course-details p {
    color: #000;
    font-size: 14px;
}

.course-details h2 {
    margin: 20px 0px;
}

.course-details ul {
    margin-top: 20px;
}

.course-details ul li {
    margin-top: 10px;
    display: block;
    font-weight: 700;
    font-size: 17px;
}

.course-details ul li span {
    margin-right: 10px;
}

.nav>li {
    letter-spacing: 1px;
}

.nav>li>a {
    font-family: 'Hind Vadodara', sans-serif !important;
    letter-spacing: 1px;
}

.flexslider {
    width: 100%;
}

.wthree_banner_info_grid h3,
.wthree_banner_info_grid p {
    font-family: 'Abel-Regular';
}

/* Modal */

.modal-content {
    background: #353b46;
    border-radius: 3px;
    padding: 20px 30px;
}

.modal-content ul.num-w3ls li {
    color: #fff;
}

.modal-content .row {
    margin-bottom: 20px;
}

.modal-lg {
    width: 900px !important;
}

.card .card-body .card-text {
    color: #fff;
    line-height: 22px;
}

.footer,
.copyright-wthree,
.modal-content,
.bottom_middle {
    background: linear-gradient(154.7deg, #01131D 0%, #04202C 100%);
}

.footer {
    padding: 3em 1em;
}

.footer .top-header-agile-right {
    padding: 0px;
}

.banner,
.banner-overlay-agileinfo {
    max-height: 650px;
}

.footer-grids h3 a {
    color: #f5b120;
    font-size: 18px;
    margin: 0.4em 0px 0.5em;
    text-transform: capitalize;
}

.welcome {
    padding: 3em 0;
}

.footer-grids ul.social-icons li a {
    color: #fff !important;
    border: none !important;
    line-height: 30px;
}

.footer-grids ul.social-icons li:nth-child(1) a,
.footer-grids ul.social-icons li:nth-child(1) a:hover {
    background-color: #4267B2;
    color: #fff;
}

.footer-grids ul.social-icons li:nth-child(2) a,
.footer-grids ul.social-icons li:nth-child(2) a:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.footer-grids ul.social-icons li:nth-child(3) a,
.footer-grids ul.social-icons li:nth-child(3) a:hover {
    background-color: #25D366
}

.footer-grids ul.social-icons li:nth-child(4) a,
.footer-grids ul.social-icons li:nth-child(4) a:hover {
    background-color: #c4302b;
}

.floating-whatsapp {
    background-color: #25D366;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.floating-section {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 999;
}

.floating-whatsapp i {
    color: #fff;
    font-size: 22px;
}

.top-header-agile-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 12px; 
}

.navbar-nav li a {
    padding: 20px 0 0 20px !important;
}

.w3l_banner_info {
    margin: 3.5em auto 0;
}

.owl-pagination {
    bottom: 0;
}

#architectural-work-page,
#architectural-work-page .banner-overlay-agileinfo,
#store .banner-overlay-agileinfo {
    min-height: 650px;
}

.ser_grid1 ul {
    list-style: none;
    margin: 0px;
    font-size: 14px;
    line-height: 24px;
}

.ser_grid1 ul li span {
    color: #f0ad4e;
    margin-right: 10px;
}

.ser_grid1 ul li,
.ser_grid1 ul li span {
    font-size: 17px !important;
    font-weight: 600;
    line-height: 28px;
}

.about h3.heading,
.services h3.heading,
#typed-strings h4,
.servicegrids h3,
.welcome h3.heading,
.footer .footer-grids h3,
.courses-offered .w3_about_grid_left h5,
.courses-offered .jst-abut-wls h5,
h3.w3ls-title {
    font-family: 'Abel-Regular';
}

.servicegrids h3 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.servicegrids h3 span.glyphicon {
    margin-right: 5px;
}

.welcome h3.heading span:after {
    left: 17%
}

.terms-and-use h3.heading span:after {
    left: 26%;
}

.about h3.heading,
.services h3.heading,
.welcome h3.heading,
.terms-and-use h3.heading {
    color: #ff5cb6;
    font-size: 33px;
    font-weight: 700;
}

section.portfolio div.row div {
    margin: 20px 0px;
}

.img-circle {
    width: 200px !important;
    height: 200px;
    border-radius: 50%;
}

img.img-circle {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    transition: all 0.5s;
}

img.img-circle:hover {
    -webkit-filter: grayscale(0);
    filter: none;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 330ms ease-in-out;
}

.card:hover .card-img-top {
    transform: rotateY(180deg);
}

.card-body {
    text-align: center;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    line-height: 28px;
}

.mis-stage,
.mis-slider,
.mis-slide,
.mis-container,
.mis-container * {
    z-index: 8;
}

.navbar-brand span {
    text-transform: none !important;
}

.mis-slider li figcaption {
    color: #fff;
}

@media only screen and (max-width: 600px) {
    .top-header-agile {
        position: relative;
    }

    .navbar-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-brand a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-tag-info h1 {
        text-align: center;
    }

    .header-contact-section {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
        margin: 0px;
        width: 100%;
        text-align: center;
    }

    .navbar-default {
        width: 100%;
        margin-bottom: 20px;
    }

    .header-contact-section .footer-grids {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;
    }

    .header-contact-section .footer-grids ul {
        width: 100%;
        margin-bottom: 20px;
    }

    .modal-lg {
        width: 100% !important;
    }

    .top-header-agile {
        flex-direction: column;
    }

    .top-header-agile-right ul li a {
        width: 100%;
        height: 100%;
    }

    .navbar-nav>li>a {
        padding: .5em 0 !important;
        width: 100% !important;
    }

    .navbar-collapse {
        width: 100%;
    }

    .footer-row .footer-grids {
        display: flex;
        flex-direction: column;
    }

    .floating-whatsapp {
        left: 2% !important;
    }

    #toTop {
        left: 2% !important;
    }

}